
{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <!-- Mostrar la imagen de la portada del libro, si está disponible -->
            {% if book.cover %}
                <img src="{{ book.cover }}" class="img-fluid" alt="Portada del libro">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ book.title }}</h1>
            <p><strong>Autor:</strong> {{ book.author }}</p>
            <p><strong>Descripción:</strong> {{ book.description }}</p>
            <!-- Más detalles del libro pueden ser añadidos aquí -->
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2>Formulario de Reserva</h2>
            <form action="/process_reservation" method="post">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <div class="mb-3">
                    <label for="startDate" class="form-label">Fecha de inicio:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control" value="2023-12-26" readonly>
                </div>
                <div class="mb-3">
                    <label for="endDate" class="form-label">Fecha de finalización:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Reservar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
